{% extends "base.html" %}
{% import "components.html" as components %}

<style> a:{text-decoration:none} a:link{color:#006699;text-decoration:none} a:visited{color:#006699;text-decoration:none} a:hover {color: red;text-decoration:underline} a:active { text:expression(target="_blank");} 
.style2 {
	text-indent: -10pt;
	font-family: "Times New Roman";
	font-size: 10.5pt;
	margin-left: 12pt;
	margin-top: 0px;
	margin-bottom: 0px;
}
.style3 {
	font-size: 10.5pt;
}
.style4 {
	text-align: center;
}
.style6 {
	font-weight: bold;
	text-align: left;
}
.style7 {
	text-align: left;
	color: #0000FF;
	font-weight: bold;
	font-size: large;
}
.style8 {
	font-weight: bold;
	text-align: left;
	font-size: large;
}
.style9 {
	font-size: large;
	font-weight: bold;
}
.style10 {
	font-family: &#26999;&#20307;;
	color: #FFFFFF;
}
.style11 {
	font-family: "Times New Roman";
	font-size: 10.5pt;
}
.style12 {
	font-family: "Times New Roman";
	font-size: 13pt;
	color: #FF0000;
}
.style14 {
	margin-left: 1px;
	margin-top: 0px;
}
.style15 {
	font-weight: bold;
	font-size: 13pt;
	color: #FF0000;
}
.style17 {
	text-indent: -26.2500pt;
	font-family: "Times New Roman";
	font-size: 10.5pt;
	margin-left: 26.2500pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
	color: #44443B;
}
.style18 {
	font-size: 12.5pt;
}
.style19 {
	text-align: right;
}
.style21 {
	font-size: medium;
	font-family: "Times New Roman";
}
.style22 {
	text-indent: -26.2500pt;
	font-family: "Times New Roman";
	margin-left: 26.2500pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.style23 {
	font-family: "Times New Roman", serif;
	font-size: 10.5pt;
}
.style24 {
	font-size: 13pt;
	color: #FF0000;
}
.style25 {
	font-family: "Times New Roman", Times, serif;
}
.style26 {
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
}
.style27 {
	color: #006699;
}
.style28 {
	color: #0000FF;
}
.style29 {
	color: #000099;
}
.style30 {
	color: #993300;
}
.style31 {
	color: #000000;
}
.style32 {
	font-size: 16pt;
	color: #800000;
}
.style33 {
	color: #FF0000;
}
.auto-style1 {
	font-size: 10.5pt;
	font-weight: bold;
}
.auto-style2 {
	text-indent: -10pt;
	font-family: "Times New Roman", Times, serif;
	font-size: 10.5pt;
	margin-left: 12pt;
	margin-top: 0px;
	margin-bottom: 0px;
}
.auto-style3 {
	font-family: "Times New Roman", Times, serif;
	font-size: 10.5pt;
}
.auto-style4 {
	font-family: "Times New Roman", Times, serif;
	font-size: 10.5pt;
	font-weight: bold;
}
.auto-style5 {
	font-size: 8pt;
}
</style>

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron content">
                <h2>Intelligence Science and System Lab</h2>
                <hr/>
              <br><font face="Arial"><span class="style15">Research Direction</span>: 
Machine Vision and Intelligence Learning (&#26426;&#22120;&#35270;&#35273;&#19982;&#26234;&#33021;&#23398;&#20064;)<br>
<br><span lang="zh-cn"><strong><span class="style24">Recent Research Focus</span></strong><br>
<br>
</span>1<span lang="zh-cn">. Image and Video Understanding 
(&#35270;&#39057;&#22270;&#20687;&#29702;&#35299;): <br>&nbsp;&nbsp;&nbsp; (1) 
Person Re-identification (&#34892;&#20154;&#20877;&#26631;&#35782;);<br>&nbsp;&nbsp;&nbsp; (2) Action/Activity Recognition 
(&#21160;&#20316;&#21450;&#34892;&#20026;&#35782;&#21035;) <br>&nbsp;&nbsp;&nbsp; (3) Face Recognition (&#20154;&#33080;&#35782;&#21035;);&nbsp;&nbsp; </span></font><br>
<br><font face="Arial">2. Machine Learning (<span lang="zh-cn">&#26426;&#22120;&#23398;&#20064;</span>):<span lang="zh-cn">
<br>&nbsp;&nbsp;&nbsp; (1) Large Scale Learning (&#22823;&#35268;&#27169;&#23398;&#20064;);<br>&nbsp;&nbsp;&nbsp; (2) Transfer 
Learning(&#36801;&#31227;&#23398;&#20064;);<br>&nbsp;&nbsp;&nbsp; (3) Metric Learning (&#36317;&#31163;&#23398;&#20064;)<br></span></font><br>
            </div>
        </div>
    </div>
</div>

{% endblock %}



