{% extends "base.html" %}
{% import "components.html" as components %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron content">
                <h2>For Graduate Students</h2>
                <hr/>
               <p><span class="style1">招生数受目前研究经费、团队成员数影响，每个学生我都会预留一笔经费支助你们去学习或生活。</span><br />
<br />
<strong>招收对象：</strong>我主要招收希望有志于从事科学研究的学生(无论是专业型还是学术型均可)。目前大多数项目均为科学研究项目，受基金委等资助。如果你真想做研究，我会手把手教你！</p>
<p><strong>招收专业：</strong></p>
<p class="style2">（1）直接招生专业：信息与通信工程</p>
<p class="style2">（2）间接招生专业（与他人共带，由我指导）：计算机、模式识别、应用数学（请报数计学院）</p>
<p><strong>研究领域：</strong>机器视觉与智能学习</p>
<p class="style2">（1）机器学习 (<a href="http://baike.baidu.com/view/7956.htm">这是什么?</a>)</p>
<p class="style2">（2）计算机视觉（<a href="http://baike.baidu.com/view/155265.htm" target="_blank">这是什么？</a>）</p>
<p><strong>目前研究课题：</strong>1）大规模机器学习算法（涉及集群服务器的高性能计算学习方法），2）视频行人匹配/行为分析</p>
<p><strong>拟招生人数：欢迎报读2016年秋季入学的你写信联系，2016年招生经费预算充足。</strong></p>
<p class="style2">（1）2016年入学科学硕士（学术型硕士，3年制），2～3名<span lang="en-us">(</span>欢迎<span lang="en-us">外校</span>保研学生，没有985和非985区别之分，但必须热爱做研究，刻苦勤奋，向上，不怕失败（这个极为重要），并最好来中山大学做毕业设计<span lang="en-us">(</span>以往学生都来了)<span lang="en-us">)</span>；</p>
<p class="style3"><span lang="en-us">1) </span>注：一般情况下，学院要求211院校以上，但如果你是足够优秀的（思维活跃、很好的做研究的动力、刻苦勤奋），我们面谈后，若有意向我们也欢迎您加入。</p>
<p class="style3">2<span lang="en-us">) </span>
以往外校保研学校：电子科大、华南理工大学、暨南大学、中国地质大学（武汉）、山东大学</p>
<p class="style3">3) 经考研加入研究组的来源学校：吉林大学、山东大学、广东工业大学</p>
<p class="style2">（2）2016年入学专业型硕士，1<span lang="en-us">~2</span>名（专业硕士培养方式与科学硕士培养方式的区别请见下面）。</p>
<p class="style2">&nbsp;</p>
<p><strong>联系方式：</strong><font face="Times New Roman"><a href="mailto:wszheng@ieee.org">wszheng@ieee.org</a></font></p>
<p><br />
<br />
注1：从事科学研究并不指毕业后只是在高校和研究所工作，也指愿意毕业后去著名公司从事研发工作或研究院工作、或出国留学继续攻读博士学位等。<br />
<br />
<strong><span class="auto-style1">注2：我对学生在研究态度上要求比较严格，至少要像个研究生，研究生就是要真正懂一些东西。每一个硕士生的招生都是为了一同参与完成国家/省的科研项目。</span><span class="auto-style2">如果只是为了混学位</span><span class="auto-style3">（比如无心做科研）</span><span class="auto-style2">，请勿联系！</span><span class="auto-style1"><br />
（这点我很坚持，任何科研项目的招生都需要对国家负责。读研究生不是一场游戏，不是一个休息的时刻，更不是拿着国家的钱和学习资源去为其它公司工作。公司实习时间自有学院规章制度和研究组内部约定安排。）</span></strong><br />
<br />
注3：对于学术型硕士，主要是研究学术问题。但研究过程中涉及大量计算机编程、多服务器协调调度、算法实现，对你的计算机编程能力等有很大帮助。此外，从事学术研究，会让你懂得怎么看别人的想法、怎么表达自己的观点、怎么写出来、怎么说服别人。我相信这个以后也会对你的职业生涯有很重要的训练作用。</p>
<p>
注4：关于科学硕士与专业硕士的区别。本研究组主要招收科学硕士，主要从事科学研究，完成国家、省和市的科研基金课题；培养专业硕士与培养科学硕士的区别在于，专业硕士更多是由与企业共同申报的产学研科研项目支持（同样是科研项目），需要在研究团队多年的研究成果基础上，面向更实际的问题，进一步发展实际可用的算法。科学硕士是针对科研需要培养，科研是针对超前的实际应用来研究，提出想法，为未来应用的发展提供前期模型研究；专业硕士也要接受一定科研的培养，在数年相关的研究基础上，更针对当前企业实际需求，结合政府的产学研项目，研究算法模型。</p>
<p>注5：专业硕士培养不等于写软件，专业硕士培养不等于送人去企业而不管，专业硕士培养不等不看论文和导师不管，专业硕士培养不等于提前做打工仔</p>
<p>注6：本研究组主要招收科研硕士，科学研究是本研究组的最重要组成部分。</p>
<p>注7：<span class="auto-style2"><strong>关于研究生待遇，本研究组努力参考中科院等科研单位的平均水平，给出较有竞争力的研究生每月补助（由学校部分和研究组补贴两部分组成），并努力营造良好的学习和科研环境，包括由实验室提供的为改善个人研究精力的日常必需品。</span><span class="auto-style1">此外，除了信科院设立论文奖例外，研究组本身也另设高水平或被本研究组认可的科研论文奖励政策</span><span class="auto-style2">。</span></strong></p>
<p>&nbsp;</p>
<p><strong>写作<span lang="en-us">? </span>不但为学术，还为你的一生！</strong><a href="writing.pdf"><strong>点击这里详看</strong></a>。</p>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
.style1 {
	margin-left: 40px;
}
.auto-style1 {
	color: #FF0000;
}
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron content">
                <h2>For Undergraduate Students</h2>
                <hr/>
               <p class="style1">&nbsp;</p>
<p><strong>一般招收对象</strong>：</p>
<p class="style1">
中山大学信息学院/软件学院/数计学院1-3年级本科生，有志于在中山大学攻读硕士或博士研究生，或有志于在本科/硕士阶段后攻读国外大学博士学位（一般而言，建议在硕士阶段发表优秀论文后再申请国外著名大学；欢迎硕士阶段后出国的同学）。</p>
<p><strong>要求</strong>：</p>
<p>1. 有志于在未来从事机器智能大方向<strong>学术研究</strong>的学生，尤其侧重于图像理解和机器学习算法。要求相关数学和编程课程的GPA较高。该计划只针对学术培养，不针对工程培养。</p>
<p>2. 所有打算加入该本科生科研计划的学生需要修读或自修以下课程（按必要性排序）：</p>
<p class="style1">1) 线性代数</p>
<p class="style1">2) 概率统计&nbsp;</p>
<p class="style1">3) Matlab编程（与C/C++相当类似）</p>
<p class="style1">4) 多元统计分析</p>
<p class="style1">5) 矩阵论</p>
<p>3. 学习方式：阅读顶级学术论文及讨论；定期约谈和讨论想法；争取本科第四年初或之前投出国际顶级学术会议论文或被研究组认可的国外SCI期刊，并争取被录用。</p>
<p>（经过3年的尝试，已有两名本科同学的论文被国际顶级学术会议IJCAI录用，1名本科生论文被IEEE TCSVT录用，几个本科同学投出相关杂志论文，并在审中）</p>
<p>4. 
时间分配：加入本计划的本科生，我们希望你们把课余的50～70%的时间全部用于科研中，我们相信只有集中精力做好一件事才能做好。我们不鼓励你们在科研之外，参加过多其它文娱活动。若无法做到，请慎重考虑。根据我们多年经验和已经取得成果的本科生，这个要求是很基本的。实验室可以提供位置给你们长期学习。</p>
<p class="auto-style1"><strong>（我们希望想在中山大学想做科研的本科生能做到跟一个在中科大做科研本科生一样好）</strong></p>
<p>5. 每年拟招人数：4名左右</p>
<p>6. 是否要在中大读研：我们鼓励加入研究计划的同学在中山大学读研和读博；若不留校，我们相对更加鼓励你们直接攻读非港澳的海外博士学位。但为了研究组的可持续发展，只有部分名额是用于招收本科后出国读书的学生，有时会侧重硕士后出国攻读博士学位的学生。请联系时告知你的想法（诚信最重要）。</p>
<p>7. 
加入后，不能轻言退出。希望你是真心想做一名学者。科研经常是挫折次数大于成功次数，请做好120%的心理准备。</p>
<p>&nbsp;</p>
<p><strong>联系时间</strong></p>
<p class="style1">2015年计划招收信科院一年级和二年级本科生；三年级本科生只面向本校保研招收。&nbsp;</p>

<p>&nbsp;</p>
<p>信科院相关和其他研究方向的老师的信息可见：<a href="http://sist.sysu.edu.cn/main/default/TeaList.aspx?no=1&amp;pId=10">http://sist.sysu.edu.cn/main/default/TeaList.aspx?no=1&amp;pId=10</a></p>
<p>&nbsp;</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
